@import url("https://fonts.googleapis.com/css2?family=Cormorant+Infant&family=Cormorant+Garamond:wght@400;500&family=Poppins:wght@400;500&family=Pinyon+Script&display=swap");

html {
  background-color: #eee;
}

.medium {
  font-weight: 500;
}

.sans-serif {
  font-family: "Poppins", sans-serif;
}

.italic {
  font-family: "Pinyon Script";
}

.keyword {
  font-family: "Cormorant Infant";
  font-size: 32px;
  margin: 16px 0;
}

body {
  margin: 2rem auto;
  max-width: 35rem;
  background-color: white;
  font-family: "Cormorant Garamond", serif;
  font-size: 17px;
}

article {
  margin: 0 auto 4rem;
  text-align: center;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.top select {
  margin-top: 25px;
  margin-right: 25px;
  background-color: #f6f6f6;
  border-width: 0;
  border-radius: 5px;
  padding: 6px 8px;
  font-size: 14px;
}

.container {
  width: 325px;
  padding: 0 1rem;
}

.bank-card {
  background-color: #f6f6f6;
  padding: 16px 0;
}

.copy-btn {
  background-color: transparent;
  border-style: none;
  padding: 1px;
}

.square {
  border: 1px solid #777;
  font-size: 15px;
  padding: 8px;
}

.send-btn {
  width: 100%;
  box-sizing: border-box;
  font-family: "Poppins";
  font-weight: 500;
  background-color: #f6f6f6;
  border-radius: 4px;
}

.edit-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
}

.input-name-box {
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
  align-items: center;
  margin: 8px 0;
}

.input-name-box input {
  margin-left: 6px;
}

.space {
  padding: 1rem 0;
}

textarea {
  line-height: 1.5;
  resize: vertical;
  field-sizing: content;
}

textarea,
input {
  box-sizing: border-box;
  border-style: none;
  width: 100%;
  font-family: "Cormorant Garamond";
  padding: 4px;
  font-size: 15px;
  background-color: #f6f6f6;
  border-radius: 4px;
}

h2 {
  font-size: 24px;
  font-weight: 500;
}

h3 {
  font-weight: 500;
  font-size: 18px;
  margin: 0 0 20px;
}

.small {
  font-size: 14px;
}

.t-20 {
  font-size: 20px;
}

.t-32 {
  font-size: 32px;
}

.t-45 {
  font-size: 45px;
}

.heart {
  font-size: 18px;
}

@media (max-width: 50rem) {
  body {
    margin: 0 auto;
  }
}
